/*! getcodesheet.com | CS Lite v1.0.0  | MIT License | https://github.com/josfdo */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #123455;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  line-height: inherit;
  color: inherit;
}

hr {
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}

img {
  vertical-align: middle;
}

.fright {
  float: right !important;
}

.fleft {
  float: left !important;
}

.fnone {
  float: none !important;
}

.oflow-hidden {
  overflow: hidden;
}

.oflow-auto {
  overflow: auto;
}

.oflow-x-auto {
  overflow-x: auto;
}

.oflow-y-auto {
  overflow-y: auto;
}

.pev-none {
  pointer-events: none;
}

.cur-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.caret-down,
.caret-left,
.caret-right {
  width: 0;
  height: 0;
  display: inline-block;
  border: 4px solid transparent;
  pointer-events: none;
}

.caret-down {
  border-top-color: initial;
}

.caret-left {
  border-right-color: initial;
}

.caret-right {
  border-left-color: initial;
}

.container-expand {
  display: flow-root;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 2.5rem 1rem;
  margin: 0 auto !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 2.5rem 1rem;
  }
}

.row {
  width: 100%;
  margin: 2.5rem auto !important;
}

.row:after,
.container:after {
  clear: both;
  display: table;
  content: "";
}

.col {
  float: left;
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cols-sm .col {
  padding: 0.5rem;
}

[class*="col"] img,
[class*="col-"] img {
  width: 100%;
}

.form .label {
  display: inline-block;
  margin-bottom: 5px;
}

.form .field, .form select {
  width: 100%;
  height: 2.375rem;
  padding: 0.4375rem 0.9375rem;
  margin: 0 0;
  border: none;
  border: 1px solid #b3b3b3;
  border-radius: 0.1875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
}

.form input[type="search"] {
  outline-offset: -2px;
}

.form input[type="file"] {
  padding: 0;
}

.form input[type="file"]::file-selector-button {
  height: 100%;
  padding: 0 0.65rem;
  font-size: 12px;
  letter-spacing: 0.1rem;
  border: none;
}

.form input[type="checkbox"],
.form input[type="radio"] {
  width: auto !important;
  height: auto !important;
  margin: 7px 0;
  outline: none;
  vertical-align: baseline;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  background-color: transparent;
}

.form input[type="range"] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  background-color: transparent;
}

.form input[type="color"] {
  width: 40px;
  padding: 2px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  background-color: transparent;
}

.form input[type="image"] {
  padding: 0;
}

.form textarea {
  min-height: 200px;
  padding: 0.65rem;
  resize: vertical;
}

.form select {
  padding-right: 2.5rem;
  text-overflow: ellipsis;
  background-color: white;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.form select::-ms-expand {
  display: none;
}

.form-uppercase .label,
.form-uppercase select,
.form-uppercase ::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
}

.form-uppercase .label,
.form-uppercase select,
.form-uppercase :-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
}

.form-uppercase .label,
.form-uppercase select,
.form-uppercase ::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
}

.form-uppercase .label,
.form-uppercase select,
.form-uppercase ::placeholder {
  text-transform: uppercase;
  font-size: 12px;
}

.form-f-vc .label,
.form-f-vc select,
.form-f-vc ::-webkit-input-placeholder,
.form-f-vc ::file-selector-button {
  font-variant-caps: all-small-caps;
}

.form-f-vc .label,
.form-f-vc select,
.form-f-vc :-ms-input-placeholder,
.form-f-vc ::file-selector-button {
  font-variant-caps: all-small-caps;
}

.form-f-vc .label,
.form-f-vc select,
.form-f-vc ::-ms-input-placeholder,
.form-f-vc ::file-selector-button {
  font-variant-caps: all-small-caps;
}

.form-f-vc .label,
.form-f-vc select,
.form-f-vc ::placeholder,
.form-f-vc ::file-selector-button {
  font-variant-caps: all-small-caps;
}

.field-bg-focus .field, .field-bg-focus select {
  outline: none;
}

.field-bg-focus .field:focus, .field-bg-focus select:focus {
  background-color: #e6f7ff;
}

.field-brd-focus .field, .field-brd-focus select {
  outline: none;
}

.field-brd-focus .field:focus, .field-brd-focus select:focus {
  border-color: #00ccff;
  -webkit-box-shadow: 0 0 0 2px #bee5f4;
          box-shadow: 0 0 0 2px #bee5f4;
}

.txt-left {
  text-align: left !important;
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

.txt-justify {
  text-align: justify !important;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-baseline {
  vertical-align: baseline;
}

.align-bottom {
  vertical-align: bottom;
}

.m-auto {
  margin: auto !important;
}

.mx-auto,
.mr-auto {
  margin-right: auto !important;
}

.mx-auto,
.ml-auto {
  margin-left: auto !important;
}

.m-0 {
  margin: 0rem !important;
}

.mx-0,
.ml-0 {
  margin-left: 0rem !important;
}

.mx-0,
.mr-0 {
  margin-right: 0rem !important;
}

.my-0,
.mt-0 {
  margin-top: 0rem !important;
}

.my-0,
.mb-0 {
  margin-bottom: 0rem !important;
}

.m-1 {
  margin: 0.5rem !important;
}

.mx-1,
.ml-1 {
  margin-left: 0.5rem !important;
}

.mx-1,
.mr-1 {
  margin-right: 0.5rem !important;
}

.my-1,
.mt-1 {
  margin-top: 0.5rem !important;
}

.my-1,
.mb-1 {
  margin-bottom: 0.5rem !important;
}

.m-2 {
  margin: 1rem !important;
}

.mx-2,
.ml-2 {
  margin-left: 1rem !important;
}

.mx-2,
.mr-2 {
  margin-right: 1rem !important;
}

.my-2,
.mt-2 {
  margin-top: 1rem !important;
}

.my-2,
.mb-2 {
  margin-bottom: 1rem !important;
}

.m-3 {
  margin: 1.5rem !important;
}

.mx-3,
.ml-3 {
  margin-left: 1.5rem !important;
}

.mx-3,
.mr-3 {
  margin-right: 1.5rem !important;
}

.my-3,
.mt-3 {
  margin-top: 1.5rem !important;
}

.my-3,
.mb-3 {
  margin-bottom: 1.5rem !important;
}

.m-4 {
  margin: 2rem !important;
}

.mx-4,
.ml-4 {
  margin-left: 2rem !important;
}

.mx-4,
.mr-4 {
  margin-right: 2rem !important;
}

.my-4,
.mt-4 {
  margin-top: 2rem !important;
}

.my-4,
.mb-4 {
  margin-bottom: 2rem !important;
}

.m-5 {
  margin: 2.5rem !important;
}

.mx-5,
.ml-5 {
  margin-left: 2.5rem !important;
}

.mx-5,
.mr-5 {
  margin-right: 2.5rem !important;
}

.my-5,
.mt-5 {
  margin-top: 2.5rem !important;
}

.my-5,
.mb-5 {
  margin-bottom: 2.5rem !important;
}

.my-sm, .mt-sm {
  margin-top: calc(1.4375rem + 2.25vw) !important;
}

@media (min-width: 1200px) {
  .my-sm, .mt-sm {
    margin-top: 3.125rem !important;
  }
}

.my-sm, .mb-sm {
  margin-bottom: calc(1.4375rem + 2.25vw) !important;
}

@media (min-width: 1200px) {
  .my-sm, .mb-sm {
    margin-bottom: 3.125rem !important;
  }
}

.my-md, .mt-md {
  margin-top: calc(1.75rem + 6vw) !important;
}

@media (min-width: 1200px) {
  .my-md, .mt-md {
    margin-top: 6.25rem !important;
  }
}

.my-md, .mb-md {
  margin-bottom: calc(1.75rem + 6vw) !important;
}

@media (min-width: 1200px) {
  .my-md, .mb-md {
    margin-bottom: 6.25rem !important;
  }
}

.my-lg, .mt-lg {
  margin-top: calc(2.0625rem + 9.75vw) !important;
}

@media (min-width: 1200px) {
  .my-lg, .mt-lg {
    margin-top: 9.375rem !important;
  }
}

.my-lg, .mb-lg {
  margin-bottom: calc(2.0625rem + 9.75vw) !important;
}

@media (min-width: 1200px) {
  .my-lg, .mb-lg {
    margin-bottom: 9.375rem !important;
  }
}

.f6, .f7, .f8, .f9, .f10, .f11, .f12 {
  line-height: 1.2;
}

.h1, .h2, .h3, .h4, .h5, .h6, .f1, .f2, .f3, .f4, .f5, .f6, .f6, .f7, .f8, .f9, .f10, .f11, .f12 {
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.f1, .f2, .f3, .f4, .f5, .f6 {
  margin-top: 0;
  margin-bottom: 0;
}

.f1, .h1 {
  font-size: 2rem !important;
}

.f2, .h2 {
  font-size: 1.5rem !important;
}

.f3, .h3 {
  font-size: 1.17rem !important;
}

.f4, .h4 {
  font-size: 1rem !important;
}

.f5, .h5 {
  font-size: 0.83rem !important;
}

.f6, .h6 {
  font-size: 0.67rem !important;
}

.f7 {
  font-size: calc(1.65625rem + 4.875vw) !important;
}

@media (min-width: 1200px) {
  .f7 {
    font-size: 5.3125rem !important;
  }
}

.f8 {
  font-size: calc(1.59375rem + 4.125vw) !important;
}

@media (min-width: 1200px) {
  .f8 {
    font-size: 4.6875rem !important;
  }
}

.f9 {
  font-size: calc(1.53125rem + 3.375vw) !important;
}

@media (min-width: 1200px) {
  .f9 {
    font-size: 4.0625rem !important;
  }
}

.f10 {
  font-size: calc(1.46875rem + 2.625vw) !important;
}

@media (min-width: 1200px) {
  .f10 {
    font-size: 3.4375rem !important;
  }
}

.f11 {
  font-size: calc(1.40625rem + 1.875vw) !important;
}

@media (min-width: 1200px) {
  .f11 {
    font-size: 2.8125rem !important;
  }
}

.f12 {
  font-size: calc(1.375rem + 1.5vw) !important;
}

@media (min-width: 1200px) {
  .f12 {
    font-size: 2.5rem !important;
  }
}

.f-bold {
  font-weight: bold !important;
}

.f-italic {
  font-style: italic !important;
}

.f-normal {
  font-weight: normal !important;
}

.f-lighter {
  font-weight: 300 !important;
}

.link-style-none {
  text-decoration: none;
  color: inherit;
}

.link-style-none a:link,
.link-style-none a:visited {
  text-decoration: none;
  color: inherit;
}

.link-style {
  color: #0152a3;
  text-decoration: underline;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.link-style a:link,
.link-style a:visited {
  color: inherit;
}

.link-style:hover {
  color: #1f70c1;
}

.txt-decoration-none {
  text-decoration: none;
}

.txt-decoration-none a:link,
.txt-decoration-none a:visited {
  text-decoration: none;
}

.f-vc {
  font-variant-caps: all-small-caps;
}

.uppercase {
  text-transform: uppercase;
}

.lh-0 {
  line-height: 0;
}

.f-primary {
  color: #0152a3 !important;
}

.f-positive {
  color: #1B7E55 !important;
}

.f-negative {
  color: #a42834 !important;
}

.f-white {
  color: #fff !important;
}

.f-black {
  color: #1a1a1a !important;
}

.item {
  display: block;
  padding: .625rem;
}

.title-group h1, .title-group h2, .title-group h3, .title-group h4, .title-group h5, .title-group h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bttn, .bttn-md, .bttn-sm, .bttn-brd {
  display: inline-block;
  padding: 0.4375rem 0.9375rem;
  line-height: 1.5;
  margin: 0.1875rem 0;
  text-align: center;
  color: inherit;
  border: 1px solid transparent;
  text-decoration: none !important;
  font-weight: normal !important;
  cursor: pointer;
  border-radius: 0.1875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bttn-md {
  padding: 0.25rem 0.9375rem;
}

.bttn-sm {
  padding: 0.125rem 0.9375rem;
  font-size: 12px;
  line-height: normal;
}

[class*="bttn-"] {
  -webkit-transition: .3s;
  transition: .3s;
}

.bttn-primary {
  background-color: #0152a3 !important;
  color: #fff !important;
}

.bttn-primary:hover {
  background-color: #003e8f !important;
}

.bttn-brd-primary {
  border-color: #0152a3 !important;
  color: #0152a3 !important;
}

.bttn-brd-primary:hover {
  color: #002071 !important;
  -webkit-box-shadow: 0 0 0 1px inset #0152a3 !important;
          box-shadow: 0 0 0 1px inset #0152a3 !important;
}

.bttn-positive {
  background-color: #1B7E55 !important;
  color: #fff !important;
}

.bttn-positive:hover {
  background-color: #076a41 !important;
}

.bttn-brd-positive {
  border-color: #1B7E55 !important;
  color: #1B7E55 !important;
}

.bttn-brd-positive:hover {
  color: #004c23 !important;
  -webkit-box-shadow: 0 0 0 1px inset #1B7E55 !important;
          box-shadow: 0 0 0 1px inset #1B7E55 !important;
}

.bttn-negative {
  background-color: #a42834 !important;
  color: #fff !important;
}

.bttn-negative:hover {
  background-color: #901420 !important;
}

.bttn-brd-negative {
  border-color: #a42834 !important;
  color: #a42834 !important;
}

.bttn-brd-negative:hover {
  color: #720002 !important;
  -webkit-box-shadow: 0 0 0 1px inset #a42834 !important;
          box-shadow: 0 0 0 1px inset #a42834 !important;
}

.bttn-black {
  background-color: #1a1a1a !important;
  color: #fff !important;
}

.bttn-black:hover {
  background-color: #060606 !important;
}

.bttn-brd-black {
  border-color: #1a1a1a !important;
  color: #1a1a1a !important;
}

.bttn-brd-black:hover {
  color: black !important;
  -webkit-box-shadow: 0 0 0 1px inset #1a1a1a !important;
          box-shadow: 0 0 0 1px inset #1a1a1a !important;
}

.bttn-accordion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.4375rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bttn-group .bttn,
.bttn-group [class*="bttn-"] {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.line {
  width: 30px;
  height: 1px;
  background-color: #778088;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line-light > .line,
.line-white > .line {
  background-color: #fff;
}

.line-dark > .line,
.line-black > .line {
  background-color: #1a1a1a;
}

.active .line:nth-child(1) {
  width: 10px;
}

.active .line:nth-child(3) {
  width: 10px;
}

.inline-block {
  display: inline-block;
}

.d-table {
  display: table;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

@media screen and (max-width: 990px) {
  .tab-d-block {
    display: block;
  }
  .tab-d-none {
    display: none;
  }
  .tab-inline-block {
    display: inline-block;
  }
  .tab-d-table {
    display: table;
  }
}

@media screen and (max-width: 750px) {
  .pha-d-block {
    display: block;
  }
  .pha-d-none {
    display: none;
  }
  .pha-inline-block {
    display: inline-block;
  }
  .pha-d-table {
    display: table;
  }
}

@media screen and (max-width: 550px) {
  .pho-d-block {
    display: block;
  }
  .pho-d-none {
    display: none;
  }
  .pho-inline-block {
    display: inline-block;
  }
  .pho-d-table {
    display: table;
  }
}

.table {
  width: 100%;
  font-size: 15px;
  text-align: left;
  border-collapse: collapse;
  background-color: #fff;
}

.table caption {
  text-align: left;
  padding: 10px 0.5rem;
}

.table thead tr th {
  padding: 10px 0.5rem;
}

.table tbody tr td {
  padding: 10px 0.5rem;
}

.table .bttn {
  padding: 0.125rem 0.9375rem;
  font-size: 13px;
  line-height: normal;
}

.table-cell-brd thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table-cell-brd tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table-cell-color {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.table-cell-color thead {
  color: #fff;
  border-bottom: 0px;
  background-color: #333;
}

.table-cell-color tbody tr {
  background-color: #f5f5f5;
}

.table-cell-color tbody tr:nth-child(odd) {
  background-color: #fff;
}

.navbar-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.navbar-slide .navbar-slide-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5rem;
}

.navbar-slide :link,
.navbar-slide :visited {
  color: inherit;
  text-decoration: none;
}

.navbar-slide .navbar-slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.navbar-slide .navbar-slide-content .item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-slide ::-webkit-scrollbar {
  display: none;
}

.p-0 {
  padding: 0rem !important;
}

.px-0,
.pl-0 {
  padding-left: 0rem !important;
}

.px-0,
.pr-0 {
  padding-right: 0rem !important;
}

.py-0,
.pt-0 {
  padding-top: 0rem !important;
}

.py-0,
.pb-0 {
  padding-bottom: 0rem !important;
}

.p-1 {
  padding: 0.5rem !important;
}

.px-1,
.pl-1 {
  padding-left: 0.5rem !important;
}

.px-1,
.pr-1 {
  padding-right: 0.5rem !important;
}

.py-1,
.pt-1 {
  padding-top: 0.5rem !important;
}

.py-1,
.pb-1 {
  padding-bottom: 0.5rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.px-2,
.pl-2 {
  padding-left: 1rem !important;
}

.px-2,
.pr-2 {
  padding-right: 1rem !important;
}

.py-2,
.pt-2 {
  padding-top: 1rem !important;
}

.py-2,
.pb-2 {
  padding-bottom: 1rem !important;
}

.p-3 {
  padding: 1.5rem !important;
}

.px-3,
.pl-3 {
  padding-left: 1.5rem !important;
}

.px-3,
.pr-3 {
  padding-right: 1.5rem !important;
}

.py-3,
.pt-3 {
  padding-top: 1.5rem !important;
}

.py-3,
.pb-3 {
  padding-bottom: 1.5rem !important;
}

.p-4 {
  padding: 2rem !important;
}

.px-4,
.pl-4 {
  padding-left: 2rem !important;
}

.px-4,
.pr-4 {
  padding-right: 2rem !important;
}

.py-4,
.pt-4 {
  padding-top: 2rem !important;
}

.py-4,
.pb-4 {
  padding-bottom: 2rem !important;
}

.p-5 {
  padding: 2.5rem !important;
}

.px-5,
.pl-5 {
  padding-left: 2.5rem !important;
}

.px-5,
.pr-5 {
  padding-right: 2.5rem !important;
}

.py-5,
.pt-5 {
  padding-top: 2.5rem !important;
}

.py-5,
.pb-5 {
  padding-bottom: 2.5rem !important;
}

.py-sm {
  padding-top: calc(1.4375rem + 2.25vw);
  padding-bottom: calc(1.4375rem + 2.25vw);
}

@media (min-width: 1200px) {
  .py-sm {
    padding-top: 3.125rem;
  }
}

@media (min-width: 1200px) {
  .py-sm {
    padding-bottom: 3.125rem;
  }
}

.py-md {
  padding-top: calc(1.75rem + 6vw);
  padding-bottom: calc(1.75rem + 6vw);
}

@media (min-width: 1200px) {
  .py-md {
    padding-top: 6.25rem;
  }
}

@media (min-width: 1200px) {
  .py-md {
    padding-bottom: 6.25rem;
  }
}

.py-lg {
  padding-top: calc(2.375rem + 13.5vw);
  padding-bottom: calc(2.375rem + 13.5vw);
}

@media (min-width: 1200px) {
  .py-lg {
    padding-top: 12.5rem;
  }
}

@media (min-width: 1200px) {
  .py-lg {
    padding-bottom: 12.5rem;
  }
}

.py-xl {
  padding-top: calc(2.6875rem + 17.25vw);
  padding-bottom: calc(2.6875rem + 17.25vw);
}

@media (min-width: 1200px) {
  .py-xl {
    padding-top: 15.625rem;
  }
}

@media (min-width: 1200px) {
  .py-xl {
    padding-bottom: 15.625rem;
  }
}

.w-0 {
  width: 0 !important;
}

.w-auto {
  width: auto !important;
}

.w20 {
  width: 20% !important;
}

.w25 {
  width: 25% !important;
}

.w50 {
  width: 50% !important;
}

.w100 {
  width: 100% !important;
  max-width: 100% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="w-"] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.w-100 {
  max-width: 100px !important;
}

.w-200 {
  max-width: 200px !important;
}

.w-300 {
  max-width: 300px !important;
}

.w-400 {
  max-width: 400px !important;
}

.w-500 {
  max-width: 500px !important;
}

.w-600 {
  max-width: 600px !important;
}

.w-700 {
  max-width: 700px !important;
}

.w-800 {
  max-width: 800px !important;
}

.w-900 {
  max-width: 900px !important;
}

.w-1000 {
  max-width: 1000px !important;
}

.w-1100 {
  max-width: 1100px !important;
}

.w-1200 {
  max-width: 1200px !important;
}

.navbar ul, .navbar ol,
[class*="navbar-"] ul,
[class*="navbar-"] ol,
.form ul,
.form ol,
.dropdown ul,
.dropdown ol,
[class*="dropdown-"] ul,
[class*="dropdown-"] ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-none {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-none ul, .list-none ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-none-group ul, .list-none-group ol {
  padding: 0;
  list-style-type: none;
}

.list-style-none {
  list-style-type: none;
}

.list-style-none ul, .list-style-none ol {
  list-style-type: none;
}

.box-iframe {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.box-iframe .iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.notice-info {
  background-color: #e6f3ff !important;
}

.notice-alert {
  background-color: #ffebcc !important;
}

.notice-positive {
  background-color: #d6f5d6 !important;
}

.notice-negative {
  background-color: #ffcccc !important;
}

.notice-muted {
  background-color: #f3f1f3 !important;
}

[class*="notice-"] {
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="notice-"] [href] {
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.notice-info {
  color: #1d5263 !important;
  border: 1px solid rgba(29, 82, 99, 0.2);
}

.notice-info [href] {
  color: #1d5263;
}

.notice-info [href]:link:hover {
  color: rgba(29, 82, 99, 0.7);
}

.notice-info hr {
  background-color: rgba(29, 82, 99, 0.2);
}

.notice-positive {
  color: #196719 !important;
  border: 1px solid rgba(25, 103, 25, 0.2);
}

.notice-positive [href] {
  color: #196719;
}

.notice-positive [href]:link:hover {
  color: rgba(25, 103, 25, 0.7);
}

.notice-positive hr {
  background-color: rgba(25, 103, 25, 0.2);
}

.notice-alert {
  color: #804d00 !important;
  border: 1px solid rgba(128, 77, 0, 0.2);
}

.notice-alert [href] {
  color: #804d00;
}

.notice-alert [href]:link:hover {
  color: rgba(128, 77, 0, 0.7);
}

.notice-alert hr {
  background-color: rgba(128, 77, 0, 0.2);
}

.notice-negative {
  color: #562929 !important;
  border: 1px solid rgba(86, 41, 41, 0.2);
}

.notice-negative [href] {
  color: #562929;
}

.notice-negative [href]:link:hover {
  color: rgba(86, 41, 41, 0.7);
}

.notice-negative hr {
  background-color: rgba(86, 41, 41, 0.2);
}

.notice-muted {
  color: #6B6B6B !important;
  border: 1px solid rgba(107, 107, 107, 0.2);
}

.notice-muted [href] {
  color: #6B6B6B;
}

.notice-muted [href]:link:hover {
  color: rgba(107, 107, 107, 0.7);
}

.notice-muted hr {
  background-color: rgba(107, 107, 107, 0.2);
}

.notice-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-primary {
  background-color: #0152a3 !important;
}

.bg-positive {
  background-color: #1B7E55 !important;
}

.bg-negative {
  background-color: #a42834 !important;
}

.bg-muted {
  background-color: #e0e7eb !important;
}

.bg-light {
  background-color: #eff3f5 !important;
}

.bg-dark {
  background-color: #37434d !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-black {
  background-color: #1a1a1a !important;
}

.bg-tt {
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .pho-xs {
    width: 100% !important;
  }
}

@media screen and (min-width: 550px) {
  .pho-1 {
    width: 8.33%;
  }
  .pho-2 {
    width: 16.66%;
  }
  .pho-3 {
    width: 24.99%;
  }
  .pho-4 {
    width: 33.32%;
  }
  .pho-5 {
    width: 41.65%;
  }
  .pho-6 {
    width: 49.98%;
  }
  .pho-7 {
    width: 58.31%;
  }
  .pho-8 {
    width: 66.64%;
  }
  .pho-9 {
    width: 74.97%;
  }
  .pho-10 {
    width: 83.3%;
  }
  .pho-11 {
    width: 91.63%;
  }
  .pho-12 {
    width: 99.96%;
  }
}

@media screen and (min-width: 750px) {
  .pha-1 {
    width: 8.33%;
  }
  .pha-2 {
    width: 16.66%;
  }
  .pha-3 {
    width: 24.99%;
  }
  .pha-4 {
    width: 33.32%;
  }
  .pha-5 {
    width: 41.65%;
  }
  .pha-6 {
    width: 49.98%;
  }
  .pha-7 {
    width: 58.31%;
  }
  .pha-8 {
    width: 66.64%;
  }
  .pha-9 {
    width: 74.97%;
  }
  .pha-10 {
    width: 83.3%;
  }
  .pha-11 {
    width: 91.63%;
  }
  .pha-12 {
    width: 99.96%;
  }
}

@media screen and (min-width: 990px) {
  .tab-1 {
    width: 8.33%;
  }
  .tab-2 {
    width: 16.66%;
  }
  .tab-3 {
    width: 24.99%;
  }
  .tab-4 {
    width: 33.32%;
  }
  .tab-5 {
    width: 41.65%;
  }
  .tab-6 {
    width: 49.98%;
  }
  .tab-7 {
    width: 58.31%;
  }
  .tab-8 {
    width: 66.64%;
  }
  .tab-9 {
    width: 74.97%;
  }
  .tab-10 {
    width: 83.3%;
  }
  .tab-11 {
    width: 91.63%;
  }
  .tab-12 {
    width: 99.96%;
  }
}

@media screen and (min-width: 1200px) {
  .lap-1 {
    width: 8.33%;
  }
  .lap-2 {
    width: 16.66%;
  }
  .lap-3 {
    width: 24.99%;
  }
  .lap-4 {
    width: 33.32%;
  }
  .lap-5 {
    width: 41.65%;
  }
  .lap-6 {
    width: 49.98%;
  }
  .lap-7 {
    width: 58.31%;
  }
  .lap-8 {
    width: 66.64%;
  }
  .lap-9 {
    width: 74.97%;
  }
  .lap-10 {
    width: 83.3%;
  }
  .lap-11 {
    width: 91.63%;
  }
  .lap-12 {
    width: 99.96%;
  }
}

@media screen and (min-width: 1400px) {
  .des-1 {
    width: 8.33%;
  }
  .des-2 {
    width: 16.66%;
  }
  .des-3 {
    width: 24.99%;
  }
  .des-4 {
    width: 33.32%;
  }
  .des-5 {
    width: 41.65%;
  }
  .des-6 {
    width: 49.98%;
  }
  .des-7 {
    width: 58.31%;
  }
  .des-8 {
    width: 66.64%;
  }
  .des-9 {
    width: 74.97%;
  }
  .des-10 {
    width: 83.3%;
  }
  .des-11 {
    width: 91.63%;
  }
  .des-12 {
    width: 99.96%;
  }
}